@import url("https://fonts.googleapis.com/css?family=Mukta|Crimson+Text|Lalezar");

body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fbf8f4;
}

.container {
  width: 100%;
  margin: 0px auto;
}

@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  body {
    font-size: 13px;
  }
  .container {
    width: 90%;
  }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  body {
    font-size: 13px;
  }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  body {
    font-size: 15px;
  }
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
