@mixin full-form($padding) {
  left: 0;
  right: 0;
  padding: $padding;
}

.generic-input {
  margin: 20px 0px;
  left: 0;
  right: 0;

  label {
    font-weight: bold;
    padding: 10px 0;

    button {
      font-size: 12px;
      padding: 3px 10px;
      cursor: pointer;
      margin-left: 10px;
      border-radius: 3px;
      font-weight: bold;
      /*
    border: 1px solid darkblue;
    background: blue;
    color: white;
    */
    }
  }
  > label {
    display: block;
  }

  input[type="text"],
  input[type="number"],
  input[type="file"] {
    padding: 5px 0px;
    font-size: 1em;
    margin-top: 2.5px;
    position: relative;
    width: 100%;
  }
  input[type="text"],
  input[type="number"] {
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    border: none;
    border-bottom: 1.5px solid #ccc;
  }
}

.generic-input:first-child {
  margin-top: 0;
}

.select {
  padding: 5px;
  background-color: #011936;
  color: #f4fffd;
  font-family: "Mukta", sans-serif;
  font-weight: bold;
}
.select option {
  background-color: white;
  color: black;
}
.button {
  cursor: pointer;
  background-color: #011936;
  color: #f4fffd;
  padding: 3px 10px;
  border: 1px solid #f4fffd;
  margin: 5px;
  font-size: 1em;
  font-family: "Mukta", sans-serif;
  a {
    text-decoration: none;
    color: #f4fffd;
  }
  a:visited {
    text-decoration: none;
  }
}
