@import "./colors";
@import "./base";
@import "./form";

.card {
  border: 1px solid #e8e8e8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  position: relative;
  background: #fff;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
}

.card > .card-title {
  margin-bottom: -1px;
  padding: 16px 24px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;
  background: transparent;
  border-bottom: 1px solid #e8e8e8;
  border-radius: 2px 2px 0 0;
  zoom: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card > .card-title > .extra {
  float: right;
  margin-left: auto;
  padding: 3px 0;
  color: rgba(0, 0, 0, 0.65);
  font-weight: normal;
  font-size: 14px;
}

.card > .card-body {
  padding: 24px;
  zoom: 1;
  overflow: auto;
}

.card-meta {
  margin: -4px 0;
  zoom: 1;
}

.card-meta-avatar {
  float: left;
  padding-right: 16px;
}
.card-meta-detail {
  overflow: hidden;
}
.card-meta-title {
  overflow: hidden;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 8px;
}
.card-meta-description {
  color: #909090;
}
.card > .actions {
  margin: 0;
  padding: 0;
  list-style: none;
  background: #fafafa;
  border-top: 1px solid #e8e8e8;
  zoom: 1;
  display: flex;
}

.card > .actions::after {
  clear: both;
}

.card > .actions::before,
.card > .actions::after {
  content: "";
  display: table;
}

.card > .actions > li:not(:last-child) {
  border-right: 1px solid #e8e8e8;
}

.card > .actions > li {
  float: left;
  margin: 12px 0;
  color: rgba(0, 0, 0, 0.45);
  text-align: center;
  flex-grow: 1;
}
.card > .actions > li > span {
  position: relative;
  display: inline-block;
  min-width: 32px;
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
}

.avatar {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background: #ccc;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
}

.avatar > img {
  display: block;
  width: 100%;
  height: 100%;
}

.card-title button,
.card-title a {
  float: right;
  border: none;
  margin: 0px 5px;
  cursor: pointer;
  background: transparent;
  color: inherit;
  font-size: inherit;
}

.card-title button {
  margin-top: 4px;
}

.overlay {
  position: fixed;
  z-index: 1;
  background: #00000080;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.modal {
  max-height: 80vh;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  background: white;
}

.select-options {
  border: 1px dotted black;
  position: relative;
  display: inline;
  cursor: pointer;
}

.select-options:focus {
  border: 1px dotted black;
}

.select-options::after {
  content: "◢";
  font-size: 9px;
}

.select-options .options {
  display: none;
  position: absolute;
  left: 0;
  padding: 0;
  list-style-type: none;
  background: white;
  box-shadow: 3px black;
  border: 1px solid #ccc;
}

.select-options .options li {
  padding: 5px 15px;
  border-bottom: 1px solid #ccc;
}

.select-options .options li:last-child {
  border-bottom: none;
}

.select-options .options.open {
  display: block;
}

.suggestion-item {
  cursor: pointer;
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 10px 5px;
}

.suggestion-item:hover {
  background-color: #efefefef;
}

.suggestion-item:last-child {
  border: none;
}

.suggestion-item-image {
  flex-grow: 0;
  margin: 0px 5px;
}

.suggestion-item-image img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.suggestion-item-metadata {
  flex-grow: 1;
}

.suggestion-item-actions {
  flex-grow: 0;
}
.tabs {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #e6e6e6;
}
.tab {
  float: right;
  padding: 12px 0px;
  text-decoration: none;
  cursor: pointer;
}
.tab a {
  padding: 12px 16px;
  color: rgba(0, 0, 0, 0.65);
}
.tab a:hover {
  color: #40a9ff;
}
.tab a.active {
  color: #1890ff;
  font-weight: 500;
  border-bottom: 2px solid #1890ff;
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .modal {
    margin-right: 10vw;
    margin-left: 10vw;
  }
}
