.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.content {
  flex-grow: 1;
  height: 0px;
}

.header {
  flex-grow: 0;
  font-family: "Lalezar", cursive;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #000000;
  padding: 10px;
}

.header a {
  text-decoration: none;
  color: inherit;
}

.header a:visited {
  text-decoration: none;
}

.header .logo {
  padding: 0px 20px;
  margin: 0;
}

.header .list {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.header .list li {
  padding: 0px 20px;
  margin: 0;
}

.header .user {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.header .user li {
  padding: 0px 20px;
  margin: 0;
}

.header .user img {
  height: 50px;
  width: 50px;
}

.userName {
  text-align: right;
}

.userName small {
  cursor: pointer;
}
