.activeToken {
  color: red;
}
.interpretation {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto;
}
.lyrics {
  grid-column: 1/2;
  grid-row: 2 / 3;
}
.metadata {
  grid-column: 1/2;
  grid-row: 3/ 4;
}
.media {
  grid-column: 1/2;
  grid-row: 1/ 2;
}
.interpretationText {
  font-family: "Crimson Text", serif;
  font-size: 1.6em;
  line-height: 1.5em;
  overflow: auto;
  white-space: pre-line;
}
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .interpretation {
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto auto 1fr;
    grid-gap: 5px;
  }
  .lyrics {
    grid-column: 1/2;
    grid-row: 1 / span 4;
  }
  .media {
    grid-column: 2/3;
    grid-row: 1/ 2;
  }
  .metadata {
    grid-column: 2/3;
    grid-row: 2/ 3;
    width: 450px;
  }
  .quote {
    grid-column: 2/3;
    grid-row: 3/ 4;
  }
}
