.songsBar {
  display: flex;
  align-items: center;
  flex-grow: 0;
}
.songSearch {
  flex-grow: 1;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.2em;
  border: 1px solid #ccc;
}
.songSearch i {
  padding: 0 5px;
}
.songSearch input {
  font-size: 1.2em;
  flex-grow: 1;
  padding: 5px;
  border: none;
}
.songSearch input:focus {
  outline: none;
}
.songSearchLang {
  flex-grow: 0;
}
.songList {
  list-style: none;
  padding: 0;
  flex-grow: 1;
  margin: 0;
}
.songItem {
  border-bottom: 1px solid #cccc;
  margin: 5px 0px;
}
.pagination {
  text-align: center;
}
