.addComposer {
	font-size: 12px;
	padding: 3px 10px;
	cursor: pointer;
	margin-left: 10px;
	border-radius: 3px;
	font-weight: bold;
	/*
    border: 1px solid darkblue;
    background: blue;
    color: white;
    */
}

.composers li {
	display: inline-block;
	cursor: pointer;
	border: 1px solid;
	border-radius: 2px;
	margin: 0px 5px;
	padding: 0px 3px;

	/*
	border-color: red;
	*/
}
