.homePage {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.landing p {
  font-size: 1.2em;
}

.landingSearch {
  padding: 5px;
  font-size: 1.5rem;
}

.landingSearch:focus {
  outline: none;
}

.landingText {
  font-size: 1.3rem;
}
