.mediaSource {
  display: flex;
  padding: 5px 2px;
}
.mediaSource input {
  flex-grow: 1;
}
.mediaSource button {
  padding: 1px 5px;
  margin: 0;
  border: 2px solid rgb(238, 238, 238);
}
.tokenPanel {
  display: grid;
  grid-template-columns: auto;
}
.tokenPreviews {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 53px;
}
.tokenDashboard button{
  margin: 3px;
}
.tokenPreview {
  min-width: 30px;
}
.tokenTime {
  font-size: 0.7em;
}
.tokenLetters {
  font-size: 1.1em;
}
.tokenDashboard {
  text-align: center;
}
.interpretation {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto 1fr;
  grid-gap: 10px;
}
.media {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.spyglass {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.sync {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
.lyrics {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.karaoke input, .karaoke select{
  display: block;
  width: 80%;
  margin-left: 20px;
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .interpretation {
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto auto auto 1fr;
    grid-gap: 10px;
  }
  .lyrics {
    grid-column: 1 / 2;
    grid-row: 1 / span 5;
  }
  .media {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .spyglass {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .sync {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  .karaoke{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }
  .tokenPanel{
    width: 400px;
  }
}
