.interpretationsPage {
  background-color: transparent;
  border: none;
}
.title {
  float: left;
}
.interpretationsBar {
  float: right;
  display: flex;
  align-items: center;
  flex-grow: 0;
}
.interpretationSearch {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
  padding: 3px;
}
.interpretationSearch i {
  padding: 0 5px;
  color: #ccc;
}
.interpretationSearch input {
  flex-grow: 1;
  border: none;
  background-color: transparent;
}
.interpretationSearch input:focus {
  outline: none;
}
.interpretationSearchLang {
  flex-grow: 0;
}
.pagination {
  text-align: center;
}
.interpretationList {
  list-style: none;
  padding: 0;
  flex-grow: 1;
  margin: 10px 0px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto;
  width: inherit;
  overflow: hidden;
}
.interpretationItem {
  border: 1px solid #cccc;
  border-radius: 3px;
  padding: 10px;
  overflow: hidden;
  background: white;
}
.interpretationImage {
  text-align: center;
}
.interpretationImage img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}
.interpretationName {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 1.05em;
  color: black;
}
.interpretationPerformers {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}
.interpretationAlbums {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}

@media (min-width: 576px) {
  .interpretationList {
    grid-template-columns: repeat(2, auto);
  }
}
@media (min-width: 768px) {
  .interpretationList {
    grid-template-columns: repeat(3, auto);
  }
}
@media (min-width: 992px) {
  .interpretationList {
    grid-template-columns: repeat(4, auto);
  }
}
@media (min-width: 1200px) {
  .interpretationList {
    grid-template-columns: repeat(5, auto);
  }
}

@media (min-width: 1600px) {
  .interpretationList {
    grid-template-columns: repeat(6, auto);
  }
}
