.wrapper {
  display: flex;
  flex-direction: column;
}
.player {
  flex-grow: 1;
  background-color: gray;
}
.playerBar {
  flex-grow: 0;
  display: flex;
  align-items: center;
}
.playPause {
  flex-grow: 1;
}
.playBar {
  flex-grow: 2;
  width: 100%;
}
.playTime {
  flex-grow: 1;
  font-size: 1em;
  white-space: nowrap;
  padding-left: 5px;
}
/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 3px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: #011936; /* Green background */
  border-radius: 50%;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: #011936; /* Green background */
  border-radius: 50%;
  cursor: pointer; /* Cursor on hover */
}