.signIn{
    font-size: 0.7em;
}

.signInButton{
    display: inline-flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    color: inherit;
    font-family: "Lalezar", cursive;
}
